<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-4 g-2">
            <div class="card">
                <div class="card-header">Update Package</div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="name">ID</label>
                            <input type="text" class="form-control" placeholder="Enter MongoDB ID" id="name" [(ngModel)]="package.packageId" name="packageid" required>
                        </div>
                        <div class="form-group">
                            <label for="license">Destination</label>
                            <input type="text" class="form-control" placeholder="Enter package destination" id="destination" [(ngModel)]="package.packageDestination" name="destination" required>
                        </div>
                        <h6></h6>
                        <button type="submit" class="btn btn-primary" (click)="updatePackage()">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
